In [12]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE, ADASYN
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [13]:
data = pd.read_csv('Datasets/hospital_readmissions_30k.csv')

In [14]:
data

       patient_id  age  ... discharge_destination readmitted_30_days
0               1   74  ...      Nursing_Facility                Yes
1               2   46  ...      Nursing_Facility                 No
2               3   89  ...                  Home                 No
3               4   84  ...                  Home                 No
4               5   32  ...      Nursing_Facility                 No
...           ...  ...  ...                   ...                ...
29995       29996   29  ...                  Home                Yes
29996       29997   20  ...                  Home                Yes
29997       29998   40  ...                  Home                 No
29998       29999   61  ...                  Home                 No
29999       30000   78  ...                  Home                 No

[30000 rows x 12 columns]

In [15]:
data.columns

Index(['patient_id', 'age', 'gender', 'blood_pressure', 'cholesterol', 'bmi',
       'diabetes', 'hypertension', 'medication_count', 'length_of_stay',
       'discharge_destination', 'readmitted_30_days'],
      dtype='object')

In [16]:
data.dtypes

patient_id                 int64
age                        int64
gender                    object
blood_pressure            object
cholesterol                int64
bmi                      float64
diabetes                  object
hypertension              object
medication_count           int64
length_of_stay             int64
discharge_destination     object
readmitted_30_days        object
dtype: object

In [17]:
data.isna().sum()

patient_id               0
age                      0
gender                   0
blood_pressure           0
cholesterol              0
bmi                      0
diabetes                 0
hypertension             0
medication_count         0
length_of_stay           0
discharge_destination    0
readmitted_30_days       0
dtype: int64

ValueError: could not convert string to float: 'Other'